<h1>File Upload</h1>

<select [(ngModel)]="documentType">
  <option value="po">Purchase Order</option>
  <option value="dr">Delivery Receipt</option>
  <option value="dp">Damage Photo</option>
  <option value="sn">Shipment Notice</option>
</select>

<input *ngIf="documentType" type="file" (change)="upload($event)">
<progress max="100" [value]="(uploadProgress | async)"></progress>

<section class="control-bar" *ngIf="uploadState | async; let state">
  <button (click)="task.pause()" [disabled]="state === 'paused'">Pause</button>
  <button (click)="task.resume()" [disabled]="!(state === 'paused' || state === 'running')">Resume</button>
  <button (click)="task.cancel()" [disabled]="state === 'running'">Cancel</button>
</section>
<br>
<br>
<div>
  File uploaded: 
  <a [href]="downloadSrc" target="blank">{{ downloadURL | async }}</a>
</div>




